// src/pages/Product/ProductManager.scss

.product-manager-container {
    // Giới hạn chiều rộng của form
    // background-color: white; // Nền nhẹ nhàng cho toàn bộ khu vực
    // border-radius: 8px;
    // box-shadow: 0 4px 12px rgba(244, 231, 231, 0.05);
    // padding-top: 40px;
    // padding: 0 h4 {
    //     text-align: center;
    //     margin-bottom: 30px;
    //     color: #1976d2; // Màu xanh của MUI Primary
    // }
}

.product-manager-body {
    max-width: 900px;
    margin: 10px auto;
    background-color: white;
}

// Styling cho các cặp label/value trong phần chi tiết
.MuiStack-root>.MuiBox-root {
    &:not(:last-child) {
        margin-bottom: 15px; // Khoảng cách giữa các cặp thông tin
    }
}